# Application Environment
NODE_ENV=

# Server Configuration
PORT=
IP=
API_ROOT=

# Security Keys
ADMIN_KEY=
X_API_KEY=
JWT_SECRET=
SECRET_SALT=
ADMIN_PASSWORD=
SYSTEM_PASSWORD=

# Database Configuration
MONGO_URI=

# Plivo SMS Configuration
PLIVO_AUTH_ID=
PLIVO_AUTH_TOKEN=
PLIVO_SENDER=

# AWS Configuration
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# Feature Flags
ENABLE_TEXT=

# Rapid API
RAPID_API_HOST=
RAPID_API_KEY=

# Rapyd Collect 
RAPYD_API_URL=
RAPYD_ACCESS_KEY=
RAPYD_SECRET_KEY=
RAPYD_DEFAULT_COUNTRY=
RAPYD_DEFAULT_CURRENCY=