option_settings:
  # Convert to load balanced environment
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  # Basic auto scaling
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 3
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.medium
  # Environment variables
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    IP: 0.0.0.0
    SKIP_WORKERS: true
